body {
  text-align: center;
}

form {
  padding-left: 100px;
}

h1 {
  color: #000;
  padding-left: 98px;
}
img {
  width: 35px;
  height: auto;
}

footer {
  font-family: "Audiowide", cursive;
}
h1,
.header {
  font-size: 60px;
  padding-top: 15px;
}

h3.current-day {
  padding-top: 25px;
}
.container {
  background-color: #eaf6f6;
  border: 5px solid #f76b8a;
  border-radius: 30px;
  font-family: "Audiowide", cursive;
  margin: 50px 50px;
  margin-right: 40px;
  margin-bottom: 15px;
  padding: 50px;
}
.description {
  text-transform: capitalize;
}
.row .weather {
  padding: 40px 50px 0 50px;
}
.card-body {
  color: #fcfefe;
  border: 5px solid #66bfbf;
}
.card-text,
.card-title {
  color: #f76b8a;
}
.fas {
  color: #66bfbf;
}

.units {
  color: #66bfbf;
  text-decoration: none;
}

.units.active {
  text-decoration: none;
  color: #000;
  cursor: default;
}
.weather-app-wrapper {
  max-width: 1100px;
  margin: 40px auto;
}
